    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="test" class = "form-control" id = "floatingInput" value="{{this.course_id}}" placeholder="Course ID" name="course_id">
            <label for =" floatingInput">Course ID</label>
        </div>
    </div>  

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" class = "form-control" id = "floatingInput" value="{{this.student_id}}" placeholder="Student ID" name="student_id">
            <label for =" floatingInput">Student ID</label>
        </div>
    </div> 


    <div class = "col-12 d-grid">
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </div>
