    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class = "form-control" id = "floatingInput" value="{{this.course_id}}" placeholder="Course ID" name="course_id">
            <label for =" floatingInput">Course ID</label>
        </div>
    </div>  

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class = "form-control" id = "floatingInput" value="{{this.course_name}}" placeholder="Course Name" name="course_name">
            <label for =" floatingInput">Course Name</label>
        </div>
    </div> 

        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" class = "form-control" id = "floatingInput" value="{{this.department_id}}" placeholder="Department ID" name="department_id">
            <label for =" floatingInput">Department ID</label>
        </div>
    </div> 

        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" class = "form-control" id = "floatingInput" value="{{this.instructor_id}}" placeholder="Instructor ID" name="instructor_id">
            <label for =" floatingInput">Instructor ID</label>
        </div>
    </div> 


    <div class = "col-12 d-grid">
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </div>
