    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="test" class = "form-control" id = "floatingInput" value="{{this.student_name}}" placeholder="Student Name" name="student_name">
            <label for =" floatingInput">Student Name</label>
        </div>
    </div>  

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class = "form-control" id = "floatingInput" value="{{this.student_degree}}" placeholder="Student Degree" name="student_degree">
            <label for =" floatingInput">Student Degree</label>
        </div>
    </div> 


    <div class = "col-12 d-grid">
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </div>