<!--
Used the bootstrap to set the css format, such as table format and navbar format.
bootstrap css format & Bundle link: https://getbootstrap.com/docs/5.0/getting-started/introduction/
bootstrap icons format link: https://icons.getbootstrap.com/

-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/student">Students table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add New Students</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="row g-3 needs-validation" method="POST" action="/addstudent" novalidate>

  {{>student_form}}

</form>