<h1> Course Registration Management</h1>

<div>

    <h3>Departments</h3>
    <a href="/department" type = "button" class = "btn btn-dark btn-small align-self-center">Departments</a>
    </br>

    <h3>Students</h3>
    <a href="/student" type = "button" class = "btn btn-dark btn-small align-self-center">Students</a>
    </br>

    <h3>Instructors</h3>
    <a href="/instructor" type = "button" class = "btn btn-dark btn-small align-self-center">Instructors</a>
    </br>

    <h3>Courses</h3>
    <a href="/course" type = "button" class = "btn btn-dark btn-small align-self-center">Courses</a>
    </br>

    <h3>Courses2Students</h3>
    <a href="/c2s" type = "button" class = "btn btn-dark btn-small align-self-center">Courses2Students</a>
    </br>



</div>